<div class="calendar-line calendar-header">
  <div class="header-label" *ngFor="let calendarDate of calendarDates | slice: 0:7">
    {{ calendarDate.date | date: "EEEE" }}
  </div>
</div>

<div class="calendar-line calendar-grid">
  <div class="calendar-item"
    *ngFor="let calendarDate of calendarDates"
    [class.is-today]="calendarDate.date | isToday"
    [class.is-weekend]="calendarDate.date | isWeekend"
    [class.is-disabled]="calendarDate.date | isOutOfMonth:month"
  >
    <div class="calendar-item-header">
      <span class="calendar-day-number">{{ calendarDate.date | date: "dd" }}</span>
      <span><!-- Placeholder --></span>
      <span class="remove-all" title="Remove all" *ngIf="!(calendarDate.date | isOutOfMonth:month) && calendarDate.reminders?.length" (click)="removeAllReminders(calendarDate.date)">Xx</span>
    </div>

    <div class="calendar-item-body">
      <app-reminder-item
        *ngFor="let reminder of calendarDate.reminders"
        [reminder]="reminder"
        (reminderClick)="editReminder(reminder)"
        (remove)="removeReminder(reminder)"
      ></app-reminder-item>
    </div>
  </div>
</div>
