@import "src/assets/styles/theme";

:host {
  .calendar-header {
    background-color: $primary-color;
    color: $white-color;

    .header-label {
      font-weight: bold;
      text-align: center;
      padding: 5px 0px;
    }
  }

  .calendar-line {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .calendar-grid {
    .date-item {
      height: 150px;
      border: 0.5px solid $divider-color;
      padding: 3px;

      .icon {
        font-weight: bold;
        font-size: 13px;
        padding: 0 10px;
        cursor: pointer;
      }

      .date-item-header {
        display: grid;
        grid-template-columns: auto auto 1fr auto;

        .icon-remove-all {
          color: $warn-color;
        }
      }

      .day-number {
        font-weight: bold;
        color: $primary-text-color;
      }

      &.today .day-number {
        color: $warn-color !important;
      }

      &.weekend {
        background-color: $light-color;

        .day-number {
          color: $primary-color;
        }
      }

      &.disabled .day-number {
        color: $secondary-text-color;
      }
    }

    .reminder-list {
      display: grid;
      overflow-y: auto;

      .reminder-item {
        display: grid;
        grid-template-columns: 20px 1fr auto;
        gap: 5px;
        padding: 5px 3px;
  
        &:hover {
          cursor: pointer;
          background-color: $highlight-color;
        }
  
        .color {
          border-radius: 50%;
        }
  
        .label {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
  
        .remove {
          cursor: pointer;
          border-left: 1px solid $divider-color;
          color: $secondary-text-color;
        }
      }
    }
  }
}
