@import "src/assets/styles/theme";

:host {
  .calendar-line {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .calendar-header {
    background-color: $primary-color;
    color: $white-color;

    .header-label {
      font-weight: bold;
      text-align: center;
      padding: 5px 0px;
    }
  }

  .calendar-grid {
    .calendar-item {
      height: 150px;
      border: 0.5px solid $divider-color;
      padding: 3px;
      display: grid;

      .calendar-item-header {
        display: grid;
        grid-template-columns: auto auto 1fr auto;

        .calendar-day-number {
          font-weight: bold;
          color: $primary-text-color;
        }

        .remove-all {
          color: $warn-color;
          font-weight: bold;
          font-size: 13px;
          padding: 0 10px;
          cursor: pointer;
        }
      }

      &.is-today .calendar-item-header .calendar-day-number {
        color: $warn-color !important;
      }

      &.is-weekend {
        background-color: $light-color;
        
        .calendar-item-header .calendar-day-number {
          color: $primary-color;
        }
      }

      &.is-disabled .calendar-item-header .calendar-day-number {
        color: $secondary-text-color;
      }

      .calendar-item-body {
        overflow: auto;
      }
    }
  }
}
