@import "src/assets/styles/theme";

:host {
  .form-fields {
    display: grid;
    gap: 15px;

    .full-width {
      width: 100%;
    }

    .side {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
      gap: 15px;
    }
  }

  .forecast-message {
    min-height: 35px;
    margin-top: -5px;
    color: $warn-color;

    .forecast {
      display: grid;
      align-items: center;
      grid-template-columns: 40px 1fr;
      gap: 10px;
      color: $primary-text-color;

      img {
        width: 35px;
      }
    }
  }
}
