:host {
  .form-fields {
    display: grid;
    gap: 15px;

    .full-width {
      width: 100%;
    }

    .side {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
      gap: 15px;
    }
  }
}
