$primary-color: #3f51b5;
$warn-color: #f44336;
$light-color: #f7f7f7;
$highlight-color: #eaf6ff;
$white-color: #ffffff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #f3eeee;
