@import "src/assets/styles/theme";

.reminder-item {
  display: grid;
  grid-template-columns: 7px 1fr auto;
  gap: 5px;
  padding: 5px 3px;

  &.mobile {
    grid-template-columns: 1fr;
    padding: 0;
    margin-bottom: 3px;

    .body, .remove {
      display: none;
    }

    .color {
      height: 25px;
      border-radius: 5px;
    }
  }

  .body {
    overflow: hidden;
  }

  &:hover {
    cursor: pointer;
    background-color: $highlight-color;
  }

  .label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .forecast-time {
    font-size: 10px;
    font-weight: bold;
    color: $secondary-text-color;
    display: flex;

    .forecast {
      width: 25px;
    }

    .time {
      align-self: center;
      margin: 3px 0 0 3px;
    }
  }

  .remove {
    cursor: pointer;
    border-left: 1px solid $divider-color;
    color: $secondary-text-color;
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
  }
}
