$dark-primary-color: #1976d2;
$primary-color: #2196f3;
$light-color: #f7f7f7;
$highlight-color: #eaf6ff;
$white-color: #ffffff;
$accent-color: #7c4dff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #f3eeee;
